body {
  background: skyblue;
    <a href="home.html">Home</a>
    <a href="services.html">Our Services</a>
    <a href="book">Ask an Offer</a>
    <a href="Testimonials">Testimonials</a>
  
}

h1 {
    color: hotpink;
    text-align: center;
}

h2 {
text-align: right;
  color: red;
}
