body {
  background-image: url('Cleaninglady.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
}

a {  color : green ;
  background : #yellow ;
  width : 75% ;
  text-align : center ;
  font-family : Arial ;
  font-size : 150% ;
  margin : auto ;
  word-spacing : normal
}

h1 {
    color: red;
    text-align: center;
}

h2 {
text-align: right;
  color: red;
}
