body {
  background-image: url('Cleaninglady.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

.item1 { grid-area: Home; }
.item2 { grid-area: Contact Us; }
.item3 { grid-area: Our Services; }
.item4 { grid-area: Promo & Offer; }
.item5 { grid-area: Testimonials; }

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 10px;
  background-color: #2196F3;
  opacity: 0.5;
  padding: 10px;
}


.grid-container > div {
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
}


h1 {
    color: red;
    text-align: center;
}

h2 {
text-align: right;
  color: red;
}
